<body class="listEscala">
  <h1 class="listEscalaTitle">Lista de Escalas</h1>
  <a href="/escala/criar" class="addButton">Adicionar Escala</a>

  <% allEscalas.forEach(escala => { %>
  <li class="listEscalaItem">
    <a href="/escala/<%= escala._id %>" class="listEscalaLink"><%= escala.dataInicio.toDateString() %></a>
    <form action="/escala/<%= escala._id %>/delete" method="get">
      <button type="submit">Excluir Escala</button>

  </li>
  <% }); %>
  </ul>
</body>