<!-- views/criarEscala.ejs -->

<!DOCTYPE html>
<html>

<head>
  <title>Criar Escala</title>
</head>

<body>
  <h1>Criar Nova Escala</h1>
  <form action="/escala/criar" method="post">
    <label for="dataInicio">Data de Início:</label>
    <input type="date" id="dataInicio" name="dataInicio" required>
    <label for="dataFim">Data de Fim:</label>
    <input type="date" id="dataFim" name="dataFim" required>

    <h2>Médicos Disponíveis:</h2>
    <ul>
      <% doctors.forEach((doctor) => { %>
      <li>
        <input type="checkbox" name="medicos" value="<%= doctor._id %>:<%= doctor.nome %>">
        <%= doctor.nome %>

      </li>
      <% }); %>
    </ul>

    <button type="submit">Criar Escala</button>
  </form>
</body>

</html>