 <div class="homeContainer">
   <h1 class="homeTitle"><%= appTitle %> </h1>
   <div class='welcome'>
     <h2> Bem-vindo! </h2>
   </div>

   <div class='addOptions'>
     <a href="/doctors/adicionar" class="btnHome">Adicionar Médico</a>
     <a href="/escala/criar" class="btnHome">Adicionar Escala</a>
     <a href="/doctors" class="btnHome">Médicos Disponíveis</a>
     <a href="/escala" class="btnHome">Escalas</a>
   </div>

 </div>