
body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100vh;
  height: 100vh;

}

/*Home Page*/

.homeContainer {
  height: 80%;
  text-align: center;
  margin-top: 50px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.homeTitle {
  color: #333;
}

.welcome {
  margin-bottom: 20px;
}

.addOptions {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.btnHome {
  display: inline-block;
  padding: 10px 20px;
  margin: 20px;
  text-decoration: none;
  color: #fff;
  background-color: #3498db;
  border-radius: 5px;
  width: 200px;
  transition:  0.3s ease;
}

.btnHome:hover {
  background-color: #2c3e50;
}

/*add doctor-----------------------------------------------------------------*/

h1.docFormTitle {
  text-align: center;
  margin: 15px;
}

input#nome{
  background-color: whitesmoke;
  width:100%;
  border: 1px solid black;
}

.nomeDocNew{
  background-color: whitesmoke;
  width: 100%;
}

.docFormLabel {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
  margin:15px auto;
  background-color: whitesmoke;
}

.formDocAdd{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.docFormInput {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px; 
}

#ferias-container{
  width: 100%;
}

.ferias-group {
  margin-bottom: 20px;
 width:100%
}

.buttonAddDoc,
.buttonAddData {
  display: block;
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.buttonAddDoc {
  background-color: #4caf50;
  color: white;
}
.btnsAdd{
  padding-bottom: 100px;
}
.buttonAddDoc:hover {
  background-color: #45a049;
}

.buttonAddData {
  background-color: #3498db;
  color: white;
}

.buttonAddData:hover {
  background-color: #2980b9;
}

/* Criar Escala---------------------------------------------------------*/
.formContainer {
  max-width: 400px;
  margin: 10px auto; 
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
}

.formLabel {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #666;
}

.formInput {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.searchBar{
  width:100%;
  margin-bottom: 15px;
}

.checkboxList {
  list-style: none;
  padding: 0;
}

.checkboxItem {
  margin-bottom: 10px;
}

.checkboxLabel {
  display: inline-block;
  margin-left: 10px;
  color: #333;
}

.selectAllButton {
  display: block;
  width: 100%;
  padding: 10px 15px;
  margin-top: 10px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.submitScale{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 30px;
  height: 100px;
  padding-bottom: 100px;
}

.criarEscalaButton {
  width: 300px;
  padding: 10px;
  margin-top: 5px;
  background-color: #45a049;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.selectAllButton:hover {
  background-color: #2980b9;
}


/*lista de escalas-----------------------------------------------------------------*/

h1.listEscalaTitle {
  color: black;
  text-align: center;
  padding:10px;
  margin-top:15px;
  margin-bottom: 15px;
}

.ulEscala {
  list-style: none;
  padding: 5px;
}

li.listEscalaItem {
  margin-bottom: 10px;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid gray;;
  padding: 20px;
  background-color: whitesmoke;
}

a.listEscalaLink {
  text-decoration: none;
  list-style: none;
  color: #3498db;
}

a.listEscalaLink:hover {
  text-decoration: none;
  color: #008000;
}

.RemoveScale {
  background-color: #3498db; 
  padding: 10px ;
  border-radius: 5px;
  color: #fff; 
  border: none; 
  cursor: pointer; 
  font-size: 10px;
  margin-top: 30px; 
}

.RemoveScale:hover {
  background-color: #ff0000; 
}

.ordenar-button {
  padding: 10px;
  cursor: pointer;
  border: none;
  background-color: #3498db;
  color: white;
  border-radius: 5px;
  font-size: 10px;
}

.ordenar-button:hover {
  background-color: #45a049;
}

.ordenar{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.seta {
  margin-left: 5px;
  font-size: 12px;
  display: inline-block;
  transition: transform 1s ease;
}

.criarEscalaNovaBtn{
  height:50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 130px; 

}

a.addButton {
  display: block;
  background-color: #039be5;
  border-radius: 5px;
width: 300px;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-top: 10px;
}

a.addButton:hover {
  background-color: #45a049;
}

.name-row {
  color: black; 
}

/*escala----------------------------------------------------------------*/
#tabelaMedicos{
  width: 90%;
  margin:10px auto
}
.downloadPdf{
  text-align: center;
}
    .bodyTable {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      color: #333;
     
    }

    h1 {
      color: #008000;
    }

    table {
      width: 100%;
       border: 1px solid black;
        margin-right:50px
    }

    
    td {
      font-size: 15px;
      padding: 8px;
      text-align:center;
    }

    th {
      background-color: #ddd; 
      color: black;
      cursor: pointer;
    }

    tr {
      border: 1px solid black;
      text-align: center;
    }
    
    th:hover {
      background-color: wheat; 
    }
  
    .excluirEscala button {
      display: block;
      width: 250px;
      padding: 10px 15px;
      margin-top: 10px;
      background-color: red;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    .voltar  {
      display: block;
      width: 250px;
      padding: 10px 15px;
      margin-top: 10px;
      background-color: #039be5;
      text-align: center;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    .voltar a{
     color: white;
     text-decoration: none;
    }

    .btnsEscala{
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 25px;
      padding-bottom: 100px;
    }

   .nomeTittle{
      border: 1px solid black;
    }

    .escalaDetalhes{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center
    }
    
/*Lista de médicos-----------------------------------------------------------------------------*/
    .optionsWrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-top: 20px;
    }

    .searchBarInput {
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      flex-grow: 1;
      margin-right: 10px;
    }

    .addDoctorButton {
      text-decoration: none;
      background-color: #3498db;
      color: white;
      padding: 10px ;
      border-radius: 4px;
      font-size: 14px;
    }

    .addDoctorButton:hover {
      background-color: #45a049;
    }

    .doctorList {
      display: flex;
      width:100%;
      flex-direction: column;
      justify-content: center;
      padding: 10px;
      align-items: center;
      list-style-type: none;
      padding-bottom: 100px; 

    }

    .doctorItem {
      width:100%;
      text-align: center;
      background-color: #fff;
      border: 1px solid #ddd;
      margin: 5px 0;
      padding: 10px;
      border-radius: 4px;
    }

    .doctorItem:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    a.listEscalaLink {
      color: #3498db;
      text-decoration: none;
    }

    a.listEscalaLink:hover{
      color: #008000;
    }


/*detalhes do médico------------------------------------------------------------------------------*/
    .details-list {
      list-style-type: none;
      padding: 0; 
    }

    .feriasCard {
      background-color: #3498db; 
      padding: 10px;
      margin: 10px;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .details-item {
      margin-bottom: 10px; 
    }

    .btnDocUpdate {
      display: flex;
      position: fixed;
      width: 100%;
      bottom: 10px; 
      flex-direction: column;
      align-items: center;
      padding-bottom: 50px; 

    }

    .action-button, .delete-button {
      background-color: #3498db; 
      color: white;
      padding: 10px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: 0.3s ease;
      text-decoration: none;
      margin:10px;
      width:200px;
      text-align: center;
      
    }

    .action-button:hover {
      background-color: green;;
    }

    .delete-button:hover {
      background-color:red;
    }

    .link {
      color: #3498db;
      text-decoration: none;
    }

    .ferias-group{
    background-color: whitesmoke;
    }
    
    input.docFormInput{
      background-color: whitesmoke;
      border: 1px solid black;

    }
/*footer----------------------------------------------------------*/
    .footer {
      background-color: whitesmoke;
      color: black;
      padding: 15px;
      text-align: center;
      position: fixed;
      bottom: 0;
      width: 100%;
    }