<body>
  <h1 class="docFormTitle">Adicionar Médico</h1>
  <form action="/doctors/adicionar" method="post">
    <div>
      <label for="nome" class="nomeDocNew">Nome:</label>
      <input type="text" id="nome" name="nome" required>
    </div>
    <div id="ferias-container">
      <div class="formDocAdd">
        <!-- Campos de data para o primeiro período de férias -->
        <div class="ferias-group">
          <label class="docFormLabel">Data de Início de Férias:</label>
          <input type="date" name="historicoFerias[dataInicio][]" class="docFormInput">
          <label class="docFormLabel">Data de Término de Férias:</label>
          <input type="date" name="historicoFerias[dataFim][]" class="docFormInput">
        </div>
      </div>
    </div>
    <div class="btnsAdd">
      <button type="button" onclick="addFeriasInput()" class="buttonAddData">Adicionar Data de Férias</button>
      <button type="submit" class="buttonAddDoc">Adicionar Médico</button>
    </div>
  </form>
</body>
<script>
  function addFeriasInput() {
    const container = document.getElementById("ferias-container");

    const feriasGroup = document.createElement("div");
    feriasGroup.className = "ferias-group";

    const dataInicioLabel = document.createElement("label");
    dataInicioLabel.textContent = "Data de Início de Férias:";
    dataInicioLabel.className = "docFormLabel";
    feriasGroup.appendChild(dataInicioLabel);

    const dataInicioInput = document.createElement("input");
    dataInicioInput.type = "date";
    dataInicioInput.name = `historicoFerias[dataInicio][]`;
    dataInicioInput.className = "docFormInput";
    feriasGroup.appendChild(dataInicioInput);

    const dataFimLabel = document.createElement("label");
    dataFimLabel.textContent = "Data de Término de Férias:";
    dataFimLabel.className = "docFormLabel";
    feriasGroup.appendChild(dataFimLabel);

    const dataFimInput = document.createElement("input");
    dataFimInput.type = "date";
    dataFimInput.name = `historicoFerias[dataFim][]`;
    dataFimInput.className = "docFormInput";
    feriasGroup.appendChild(dataFimInput);

    container.appendChild(feriasGroup);

  }
</script>